@import "tailwindcss";

:root {
  --violet: #ae64f3;
  --violet-hover: #7402df;
}

@layer components {
  .spinner {
    margin: 3.2rem auto 1.6rem;
    width: 60px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid #963991;
    border-right-color: #B7C7D7;
    animation: rotate 1s infinite linear;
  }

  .spinner-mini {
    margin: 0;
    width: 20px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 2px solid #B7C7D7;
    border-right-color: transparent;
    animation: rotate 1s infinite linear;
  }

  @keyframes rotate {
    to {
      transform: rotate(1turn);
    }
  }
}

body {
  font-family: 'Poppins', system-ui, -apple-system, BlinkMacSystemFont, 
               'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  color: #111; /* optional default text color */
}

.active-button {
  background-color: var(--violet);
  color: white;
}

.active-button:hover {
  background-color: var(--violet-hover);
}

.passive-button {
  color:#111;
  background-color: lightgrey;
}

.passive-button:hover {
  background-color: gray;
  color: white
}

